<div id="acercade" class="principal">
    <section  id="sobremi">
        <div class="contenedor-foto">
            <img src="../../../assets/foto rostro.jpg" alt="foto rostro" />
        </div>
        <div class="sobremi">
            <p class="titulo-seccion">Sobre Mi</p>
            <h2>Hola, Soy <span>Jorge Chavero</span></h2>
            <h3>Desarrollador Web</h3>
            <p >"Me apasiona el desarrollo web y estoy adquirido una sólida experiencia en este campo. Constantemente  me actualizo para ofrecer soluciones innovadoras y funcionales."</p>
            <h3>"Futuro Analista de Datos"</h3>
            <p>"Estoy emocionado por incursionar en el campo del análisis de datos, donde combinaré mi pasión por la tecnología con mi habilidad para extraer información valiosa de grandes conjuntos de datos."</p>
            <a href="#">Descargar CV</a>
        </div>
    </section>
</div>
