<p id="proyectos"></p>
<section id="portafolio">
    <h3 class="titulo-seccion">MIS PROYECTOS</h3>
    <div class="fila">
        <div class="proyectos">
            <div class="overlay"></div>
            <a href="https://github.com/jaweropuntano/encriptador_alura.github.io" target="_blank"> <img src="../../../assets/encriptador.png"></a>
           
            <div class="info">
                <h4>Encriptador de texto con Javascript</h4>
                <p>Diseño web</p>
            </div>            
        </div>
        <div class="proyectos">
            <div class="overlay"></div>
            <a href="https://github.com/jaweropuntano/Challenge_Conversor/tree/main/Conversor" target="_blank"> <img src="../../../assets/conversor.png"></a>
           
            <div class="info">
                <h4>Conversor de Divisas en Java</h4>
                <p>Destock API REST</p>
            </div>            
        </div>
        <div class="proyectos">
            <div class="overlay"></div>
            <a href="https://github.com/jaweropuntano/challenge-one-alura-hotel-latam" target="_blank">  <img src="../../../assets/hotel alura.png"></a>
          
            <div class="info">
                <h4>Registro de Huespedes en Java</h4>
                <p>Destock API REST</p>
            </div>            
        </div>
        <div class="proyectos">
            <div class="overlay"></div>
            <img src="../../../assets/agenda electronica.png">
            <div class="info">
                <h4>Agenda Electronica en java</h4>
                <p>Destock API REST</p>
            </div>            
        </div>
    </div>
</section>