<p id="experiencialaboral"></p>
<section id="trabajos">
    <h3 class="titulo-seccion">EXPERIENCIA LABORAL</h3>
    <div class="fila">
        <div class="trabajo">
            <span class="icono"><i class="fa-solid fa-code"></i></span>
        <h4>Diseño de Sitios Web</h4>
        <hr>
        <ul class="servicios-tag">
            <li>Desarrollo FullStack Junior</li>
            
            
        </ul>
        <p>"Me estoy especializando en el desarrollo web y el diseño, brindando servicios como freelancer a clientes de diferentes industrias. Mi objetivo es crear soluciones visuales atractivas y funcionales que ayuden a las empresas a destacarse en línea".</p>
        </div>
        <div class="trabajo">
            <span class="icono"><i class="fa-solid fa-code"></i></span>
        <h4>Diseño Grafico</h4>
        <hr>
        <ul class="servicios-tag">
            <li>Diseño de logos e imagen</li>
            
        </ul>
        <p>Actualmente realizo trabajos de diseño de logos y edicion de imagenes, utilizando varias herramientas como Photoshop, Ilustrator, Canvas, entre otras</p>
        </div>
   
    </div>
</section>
