
    <section id="inicio">
          <div class="contenido">  
                        
              <header>                  
                  <div class="contenido-header">
                      <div class="logo">
                          <img src="../../../assets/APLogo.png" id="logoAP">
                      </div>
                    
                      <nav id="nav" class="">
                          <ul id="links">
                              <li><a href="#inicio" class="seleccionado">INICIO</a></li>
                              <li><a href="#acercade">ACERCA DE MI</a></li>
                              <li><a href="#experiencialaboral">EXPERIENCIA LABORAL</a></li>
                              <li><a href="#educacion">EDUCACION</a></li>
                              <li><a href="#habilidades">HABILIDADES</a></li>
                              <li><a href="#proyectos">PROYECTOS</a></li>
                       
                          </ul>                          
                      </nav>          
                  </div>
              </header>
              
          </div>
          
      </section>
