<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto rostro.jpg" class="img-fluid" id="fotoperfil" alt="Foto">        
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2>Jorge Alejandro Chavero</h2>
        <h3>Full Stack Developer Jr</h3>
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h4>Acerca de mi</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, quos? Quasi enim fuga aliquid porro voluptate! Rerum debitis, iure necessitatibus odit totam explicabo temporibus ducimus minus, porro itaque reprehenderit vitae.</p>
        </span>     
    </div>
        

    </div>

