.row{
    background: #a1b5cb;
}
.redes img{
    width: 30px;
}
.redes{
    text-align: none;
    color: #fff;
    display: inline-block;
    transition: .5s;
}
.redes a{
    color: blueviolet;
}
footer{
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}