<div class="row">
    <footer>
        <p>Chavero Jorge Alejandro | © Argentina Programa 2022 - 2023</p>
        <p>San Luis - Argentina</p>
        <div class="redes">
            <a href="https://www.linkedin.com/in/jorge-alejandro-chavero-a3a049223/" target="_blank"><img src="../../../assets/linkedin.png" alt="" ></a>
            <a href="https://twitter.com/JaweropuntanoC" target="_blank"><img src="../../../assets/twitter.png" alt="" ></a>
            <a href="https://www.instagram.com/jorge_jawero/" target="_blank"><img src="../../../assets/instagram.png" alt="" ></a>
            <a href="https://github.com/jaweropuntano" target="_blank"><img src="../../../assets/github.png" alt="" ></a>
            <a href=""><img src="../../../assets/facebook.png" alt="" ></a>
        </div>
    </footer>
</div>
