<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Curso 1</h1>
                <h3> años</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda perferendis temporibus qui asperiores, accusantium dolor minus dignissimos placeat et non voluptatem nihil illo cupiditate reiciendis neque esse? Nostrum, autem! Ad!</p>
            </li>
        </ul>
    </div>
</div>
