
    <div class="presentacion">   
        <p class="bienvenida">Bienvenidos</p>
        <h2>Soy <span>Jorge Alejandro Chavero</span> Desarrollador Web</h2>
        <p class="descripcion">"En esta presentación, te mostraré mi portfolio, que incluye información sobre mis formaciones y proyectos". "En mi portfolio, encontrarás una recopilación de mis formaciones y proyectos destacados que demuestran mi capacidad para enfrentar desafíos y entregar resultados de calidad."</p>
        <a href="#portafolio">Ir a Portafolio</a>
    </div>
         

