<div class="row">
    <h1>Hard and Soft Skill</h1>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="70"
    [imageSrc]="'../../../assets/html.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#ff3d00'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="70"
    [imageSrc]="'../../../assets/js.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#ffbc11'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="70"
    [imageSrc]="'../../../assets/CSS.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#046d8b'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="70"
    [imageSrc]="'../../../assets/java.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#bf0a0d'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="70"
    [imageSrc]="'../../../assets/mysql.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#309292'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="70"
    [imageSrc]="'../../../assets/git.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#2d2d29'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
   </div>
</div>
