<p id="educacion"></p>
<section id="trabajos">
    <h3 class="titulo-seccion">EDUCACION</h3>
    <div class="fila">
        <div class="trabajo">
            <span class="icono"><i class="fa-solid fa-code"></i></span>
            <img src="../../../assets/logo-ulp.png">
        <h4>Tecnicatura en Diseño digital y Videojuegos</h4>
        <hr>
        <ul class="servicios-tag">
          
        </ul>
        <p>Actualmente me encuentro cursando el segundo año de esta carrera. Donde mi objetivo es Aprender los fundamentos del diseño, incluyendo principios estéticos, ergonomía, usabilidad y experiencia del usuario. Adquirir habilidades para crear soluciones innovadoras y atractivas en el diseño de productos o servicios.</p>
        </div>
        <div class="trabajo">
            <span class="icono"><i class="fa-solid fa-code"></i></span>
            <img id="oracle" src="../../../assets/PikPng.com_oracle-logo-png_1549401.png">
        <h4>Desarrollador FullStack</h4>
        <hr>
        <ul class="servicios-tag">
            <li>Especialización Back-End</li>
        </ul>
        <p> Curso en el cual estoy aprendiendo a programar y desde acceder a la base de datos, con MySQL y JPA, hasta publicar una API REST, utilizando uno de los framework más popular del mundo Java. SpringBoot</p>
        </div>
        <div class="trabajo">
            <span class="icono"><i class="fa-solid fa-code"></i></span>
            <img id="arge" src="../../../assets/APLogo.png">
        <h4>Desarrollador FullStack</h4>
        <hr>
        <ul class="servicios-tag">
            <li>Especialización Frond-End y Back-End</li>
        </ul>
        <p> Curso de formacion en programacion realizado por el ministerio de educacion de la nacion</p>
        </div>
   
    </div>
</section>
